### Series

In [12]:
import pandas as pd

data = dict(AI=25, Net=30, App=30, Java=27) # number of students
series = pd.Series(data=data)

print(f"series[0]: {series[0]}")
print(f"series[0]: {series[-1]}")

print(f"series keys: {series.keys()}")
print(f"series[0] value: {series[series.keys()[0]]}")
print(f"series iloc: {series.iloc[-1]}")
print(f"series by column: {series['AI']}")

series[0]: 25
series[0]: 27
series keys: Index(['AI', 'Net', 'App', 'Java'], dtype='object')
series[0] value: 25
series iloc: 27
series by column: 25

/tmp/ipykernel_12421/329737780.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"series[0]: {series[0]}")
/tmp/ipykernel_12421/329737780.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"series[0]: {series[-1]}")

In [24]:
import random as rng

rng.seed(42)

dice_series = pd.Series([rng.randint(1, 6) for _ in range(5000)])
print(dice_series)

print(f"Min value {dice_series.min()}")
print(f"Max value {dice_series.max()}")
print(f"Mean value {dice_series.mean()}")
print(f"Median value {dice_series.median()}")
print(f"Standar deviation {dice_series.std()}")

0       6
1       1
2       1
3       6
4       3
       ..
4995    4
4996    1
4997    1
4998    5
4999    2
Length: 5000, dtype: int64
Min value 1
Max value 6
Mean value 3.531
Median value 4.0
Standar deviation 1.7059956284284092

In [30]:
df = pd.DataFrame(series, columns=["Num students"])
print(df)

      Num students
AI              25
Net             30
App             30
Java            27

In [35]:
students = pd.Series(data = dict(AI=25, Net=30, App=30, Java=27)) # number of students
language = pd.Series(dict(AI="Python", Net="C#", App="Kotlin", Java="Java"))

df_programs = pd.DataFrame({"Students": students, "Language": language})
df_programs

      Students Language
AI          25   Python
Net         30       C#
App         30   Kotlin
Java        27     Java

In [36]:
import numpy as np
df_programs = pd.DataFrame({
    "Students": np.array((25, 30, 30, 27)),
    "Language": np.array(("Python", "C#", "Kotlin", "Java"))
    }, index = ["AI", ".NET", "APP", "Java"])
df_programs

      Students Language
AI          25   Python
.NET        30       C#
APP         30   Kotlin
Java        27     Java

In [37]:
df_programs.index

Index(['AI', '.NET', 'APP', 'Java'], dtype='object')

In [40]:
df_programs["Students"]

AI      25
.NET    30
APP     30
Java    27
Name: Students, dtype: int64

In [41]:
df_programs[["Language", "Students"]]

     Language  Students
AI     Python        25
.NET       C#        30
APP    Kotlin        30
Java     Java        27

In [42]:
df_programs.Language

AI      Python
.NET        C#
APP     Kotlin
Java      Java
Name: Language, dtype: object

In [43]:
df_programs["Language"][".NET"]

'C#'

In [45]:
print(df_programs.loc["Java"])

df_programs.loc[["Java", "APP"]]

Students      27
Language    Java
Name: Java, dtype: object

      Students Language
Java        27     Java
APP         30   Kotlin

In [50]:
print(df_programs.iloc[1:3])

df_programs.loc[df_programs["Students"] > 28]

      Students Language
.NET        30       C#
APP         30   Kotlin

      Students Language
.NET        30       C#
APP         30   Kotlin

df = df[conditions]
där condition är ett boolsk uttryck (dvs ger sant eller falskt)

In [51]:
df_programs["Students"] > 25

AI      False
.NET     True
APP      True
Java     True
Name: Students, dtype: bool

In [53]:
df_over_25 = df_programs[df_programs["Students"] > 25]
df_over_25

      Students Language
.NET        30       C#
APP         30   Kotlin
Java        27     Java

In [56]:
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

df = pd.read_excel("../Data/calories.xlsx")
df.head(10)

,FoodCategory,FoodItem,per100grams,Cals_per100grams,KJ_per100grams
0,CannedFruit,Applesauce,100g,62 cal,260 kJ
1,CannedFruit,Canned Apricots,100g,48 cal,202 kJ
2,CannedFruit,Canned Blackberries,100g,92 cal,386 kJ
3,CannedFruit,Canned Blueberries,100g,88 cal,370 kJ
4,CannedFruit,Canned Cherries,100g,54 cal,227 kJ
5,CannedFruit,Canned Cranberries,100g,178 cal,748 kJ
6,CannedFruit,Canned Crushed Pineapple,100g,53 cal,223 kJ
7,CannedFruit,Canned Figs,100g,107 cal,449 kJ
8,CannedFruit,Canned Fruit Cocktail,100g,81 cal,340 kJ
9,CannedFruit,Canned Fruit Salad,100g,50 cal,210 kJ

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2225 entries, 0 to 2224
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   FoodCategory      2225 non-null   object
 1   FoodItem          2225 non-null   object
 2   per100grams       2225 non-null   object
 3   Cals_per100grams  2225 non-null   object
 4   KJ_per100grams    2225 non-null   object
dtypes: object(5)
memory usage: 87.0+ KB

In [58]:
df["FoodCategory"].unique()

array(['CannedFruit', 'Fruits', 'Tropical&ExoticFruits', 'PotatoProducts',
       'Vegetables', 'FastFood', 'Pizza', 'Cheese', 'CreamCheese',
       'Milk&DairyProducts', 'SlicedCheese', 'Yogurt', 'Beef&Veal',
       'ColdCuts&LunchMeat', 'Meat', 'Offal&Giblets', 'Pork',
       'Poultry&Fowl', 'Sausage', 'Venison&Game', 'Cakes&Pies',
       'Candy&Sweets', 'IceCream', '(Fruit)Juices',
       'AlcoholicDrinks&Beverages', 'Beer',
       'Non-AlcoholicDrinks&Beverages', 'Soda&SoftDrinks', 'Wine',
       'CerealProducts', 'Oatmeal,Muesli&Cereals', 'Pasta&Noodles',
       'Dishes&Meals', 'Soups', 'Legumes', 'Nuts&Seeds', 'Oils&Fats',
       'VegetableOils', 'BakingIngredients', 'Fish&Seafood',
       'Herbs&Spices', 'Pastries,Breads&Rolls', 'Sauces&Dressings',
       'Spreads'], dtype=object)

In [59]:
df["per100grams"].unique()

array(['100g', '100ml'], dtype=object)

In [60]:
df = df.rename(dict(Cals_per100grams="Calories",
                    per100grams="percent", KJ_per100grams="kJ"), axis="columns")
df.head()

  FoodCategory             FoodItem percent Calories      kJ
0  CannedFruit           Applesauce    100g   62 cal  260 kJ
1  CannedFruit      Canned Apricots    100g   48 cal  202 kJ
2  CannedFruit  Canned Blackberries    100g   92 cal  386 kJ
3  CannedFruit   Canned Blueberries    100g   88 cal  370 kJ
4  CannedFruit      Canned Cherries    100g   54 cal  227 kJ

In [61]:
df["Calories"] = df["Calories"].str[:-3].astype(int)
df.head()

  FoodCategory             FoodItem percent  Calories      kJ
0  CannedFruit           Applesauce    100g        62  260 kJ
1  CannedFruit      Canned Apricots    100g        48  202 kJ
2  CannedFruit  Canned Blackberries    100g        92  386 kJ
3  CannedFruit   Canned Blueberries    100g        88  370 kJ
4  CannedFruit      Canned Cherries    100g        54  227 kJ

In [62]:
df["percent"].value_counts()

percent
100g     1802
100ml     423
Name: count, dtype: int64

In [64]:
solids = df[df["percent"] == "100g"]
solids.head()
solids.shape

(1802, 5)

In [67]:
solids_sorted = solids.sort_values(by="Calories", ascending=False)
solids_sorted.iloc[:5]

     FoodCategory     FoodItem percent  Calories       kJ
1621        Soups      Goulash    100g      1009  4238 kJ
528     Beef&Veal  Beef Tallow    100g       902  3788 kJ
1761    Oils&Fats         Lard    100g       902  3788 kJ
675          Pork         Lard    100g       898  3772 kJ
599          Meat  Chicken Fat    100g       898  3772 kJ