In [7]:
import hashlib as hl

string_to_hash = "gore_bord@gmail.com".encode()
string_to_hash_case = "Gore_bord@gmail.com".encode()

hl.sha256(string_to_hash).hexdigest(),hl.sha256(string_to_hash_case).hexdigest()

('7d6d9a849ccc7f5febe065ebe3b4f39558fc96ef865e02333dd7b7426ff0c057',
 '5a1d7bd95608d9067b72c9a04f97e82067922da234d68713fcd0236611737bd0')

In [9]:
hl.sha256("gore_bord@gmail.com".encode()).hexdigest() == hl.sha256(string_to_hash).hexdigest()

True

In [10]:
import pandas as pd

df =pd.read_csv("../Data/BankChurners.csv", usecols=["CLIENTNUM", "Attrition_Flag", "Customer_Age", "Gender", "Total_Trans_Amt"])
df.head()

   CLIENTNUM     Attrition_Flag  Customer_Age Gender  Total_Trans_Amt
0  768805383  Existing Customer            45      M             1144
1  818770008  Existing Customer            49      F             1291
2  713982108  Existing Customer            51      M             1887
3  769911858  Existing Customer            40      F             1171
4  709106358  Existing Customer            40      M              816

In [11]:
df["CLIENTNUM"].head()

0    768805383
1    818770008
2    713982108
3    769911858
4    709106358
Name: CLIENTNUM, dtype: int64

In [12]:
df["CLIENTNUM"] = df["CLIENTNUM"].astype(str)
hashes = df["CLIENTNUM"].apply(lambda client_num: hl.sha256(client_num.encode() ).hexdigest())
hashes.head()

0    c9bbef56f9d8292cb3cfa8ae91f9b9167390e6e4b514d5...
1    7996e2340d70489252370a5df035ec99381c8344cc3511...
2    6fb53dbc743724e086243b5bc288df62b4a6dc1b8bde92...
3    f86b86a1047317685f29c399059b199858685faf5ec6a8...
4    0d239470b0cb57e110cf60bc3865344ee2cdced6e3acdc...
Name: CLIENTNUM, dtype: object

In [ ]:
df.insert(1, "SHA Hash values", hashes)
df.head()