In [1]:
import numpy as np
import pandas as pd

nrows, ncols = 1000000,  100
df1, df2, df3, df4 = [pd.DataFrame(np.random.randn(nrows, ncols)) for _ in range(4)]

In [2]:
%timeit sum_plain = df1+df2+df3+df4
sum_plain = df1+df2+df3+df4

%timeit sum_eval = pd.eval("df1 + df2 +df3 +df4")
sum_eval = pd.eval("df1 + df2 +df3 +df4")

507 ms ± 5.47 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
217 ms ± 2.68 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [7]:
rolls = pd.DataFrame(np.random.randint(1,6,(6,3)), columns=["Die1", "Die2", "Die3"])
rolls.eval("Sum = Die1 + Die2 + Die3", inplace=True)
rolls

   Die1  Die2  Die3  Sum
0     5     5     1   11
1     1     5     4   10
2     4     2     2    8
3     4     4     3   11
4     4     2     1    7
5     1     2     1    4

In [8]:
high = 10
rolls.eval("High = Sum > @high", inplace=True)
rolls

   Die1  Die2  Die3  Sum   High
0     5     5     1   11   True
1     1     5     4   10  False
2     4     2     2    8  False
3     4     4     3   11   True
4     4     2     1    7  False
5     1     2     1    4  False

In [9]:
low = 10
small = rolls[rolls["Sum"] < low]
small

   Die1  Die2  Die3  Sum   High
2     4     2     2    8  False
4     4     2     1    7  False
5     1     2     1    4  False

In [10]:
small_query = rolls.query("Sum < @low")
small_query

   Die1  Die2  Die3  Sum   High
2     4     2     2    8  False
4     4     2     1    7  False
5     1     2     1    4  False

In [13]:
os = pd.read_csv("../Data/athlete_events.csv")
os.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

In [14]:
%timeit os[os["Season"] == "Winter"]
%timeit os.query("Season == 'Winter'")

plain = os[os["Season"] == "Winter"]
query = os.query("Season == 'Winter'")


plain.equals(query)

18.2 ms ± 504 μs per loop (mean ± std. dev. of 7 runs, 100 loops each)
12.8 ms ± 34.8 μs per loop (mean ± std. dev. of 7 runs, 100 loops each)

True

In [18]:
%timeit os[(os["Sex"]=="F") & (os["Height"] > 180) & (os["NOC"] == "SWE")]
%timeit os.query("Sex == 'F' & Height > 180 & NOC == 'SWE'")

plain = os[(os["Sex"]=="F") & (os["Height"] > 180) & (os["NOC"] == "SWE")]
query = os.query("Sex == 'F' & Height > 180 & NOC == 'SWE'")

plain.equals(query)

22 ms ± 134 μs per loop (mean ± std. dev. of 7 runs, 10 loops each)
9.89 ms ± 42.2 μs per loop (mean ± std. dev. of 7 runs, 100 loops each)

True

: